/* general */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Fredoka', sans-serif;
}

:root {
     --bg_badge: black;
     --h1_color: #fb377d;
     --text: white;
     --email-color: #60ddfd; 
     font-size: 16px;
}

h1 {
     font-size: 40px;
     color: #fb377d;
     text-align: center;
     padding-top: 2rem;
     padding-bottom: 1.5rem;
}

img {
     width: 100px;
     float: left;
}

/* //general */

/* corpo pagina */
.container1 {
     max-width: 1200px;
     margin: 0 auto;
}

.container1, .badge-sec::after {
     content: "";
     display: table;
     clear: both;
}

/* //corpo pagina */

/* paragrafo sotto header */
.description {
     text-align: center;
     padding: 1rem;
}

/* //paragrafo sotto header */

/* section badge team */
.member {
     background-color: var(--bg_badge);
     float: left;
     width: calc(100% / 3 - 3rem) ;
     margin: 1rem;
     margin-bottom: 2rem;
     min-width: 12rem;
     box-shadow:
     .1rem .1rem  .4rem rgb(192, 192, 192),
     .1rem .1rem  .4rem rgb(190, 190, 190),
     .1rem .1rem  .4rem rgb(180, 180, 180);
}
/* //section badge team */

/* section dati team */
.dati {
     float: left;
     padding: 1%;
     color: rgb(255, 255, 255);
}

.dati>h3 {
     margin: 0.6rem;
}

.dati>p {
     margin: 0.4rem;
}

.dati>p:nth-child(2) {
     font-style: oblique;
}

.dati>p:nth-child(3) {
     color: var(--email-color);
}

/*// section dati team */